{% extends 'base.html' %}
{% load static %}

{% block titulo %}NOTICIAS{% endblock titulo %}


{% block contenido %}
	<h1>DETALLES DE LA NOTICIA</h1>
		<!-- NOTICIA -->
		<img src="{{noticia.imagen.url}}" width="500" height="500">
		
		<p>TITULO: {{noticia.titulo}}</p>
		
		<p>FECHA: {{noticia.fecha}}</p>
		<p>CATEGORIA: {{noticia.categoria_noticia}}</p>
		<p>CUERPO: {{noticia.cuerpo}}</p>
		<p>PUBLICADO POR: {{noticia.autor.username}}</p>
		<br><br>
		<!-- MOSTRAR LOS BOTONES DE EDITAR/ELIMINAR SOLO SI ES EL AUTOR O ADMIN-->
		{% if request.user == noticia.autor or request.user.is_staff %}
			<a href="{% url 'noticias:editar' noticia.pk %}">Editar</a>
			<a href="{% url 'noticias:eliminar' noticia.pk %}">Eliminar</a>
		{% endif %}
		<br>

		<!-- AGREGAR COMENTARIO -->
		<!-- SOLO SI ESTÁ REGISTRADO-->
		{% if request.user.is_authenticated %}
			<form method="POST" action="{% url 'comentarios:agregar_comentario' noticia.id %}">
				{% csrf_token %}
				{{ form.as_p}}
				<input type="submit" value="GUARDAR">
			</form>
		
		{% else %}
			<p>Inicia sesión para comentar</p>
		{% endif %}

		<br><br><br>
		<!-- MOSTAR COMENTARIOS -->
		<h3>COMENTARIOS</h3>
		{% for com in comentarios %}
			<strong>FECHA:{{com.fecha}}</strong><br>
			<strong>USUARIO:{{com.usuario}}</strong><br>
			<p>{{com.texto}}</p>

			<!--Mostrar boton para eliminar el comentario solo si es autor o admin-->
			{% if request.user == com.usuario or request.user.is_staff %}
				<form method="POST" action="{% url 'comentarios:eliminar' com.pk %}">
					{% csrf_token %}
					<button type="submit">Eliminar comentario</button>
				</form>
			{% endif %}
			
			<!--Responder comentario solo si está registrado-->
			{% if request.user.is_authenticated %}
				<button type="button" onclick="document.getElementById('respuesta-{{com.pk}}').style.display='block';">Responder</button>
				<div id="respuesta-{{com.pk}}" style="display:none;">
					<form method="POST" action="{% url 'comentarios:responder' noticia.id com.pk %}">
						{% csrf_token %}
						{{ form.as_p}}
						<input type="submit" value="Responder">
					</form>
				</div>
			{% endif %}

			<!--Mostrar respuestas-->
			{% for resp in com.respuestas.all %}
				<div style="margin-left: 40px;">
					<strong>FECHA:{{resp.fecha}}</strong><br>
					<strong>USUARIO:{{resp.usuario}}</strong><br>
					<p>{{resp.texto}}</p>

					<!--Eliminar respuesta si es autor o admin-->
					{% if user == resp.usuario or request.user.is_staff %}
						<form method="POST" action="{% url 'comentarios:eliminar' resp.pk %}">
							{% csrf_token %}
							<button type="submit">Eliminar respuesta</button>
						</form>
					{% endif %}
				</div>
			{% endfor %}

			<br>
		{% endfor %}
		<a href="{% url 'noticias:listar' %}">VOLVER</a>
{% endblock contenido %}

