{% extends 'base.html' %}
{% load static %}

{% block title %}NOTICIAS{% endblock title %}


	
{% block contenido %}
<!--detalle de la noticia-->
	<h1> NOTICIA </h1>

		<img src="{{noticia.imagen.url}}" width="500" height="500">
		
		<p>TITULO: {{noticia.titulo}}</p>
		
		<p>FECHA: {{noticia.fecha}}</p>
		<p>CATEGORIA: {{noticia.categoria_noticia}}</p>
		<p>CUERPO: {{noticia.cuerpo}}</p>


    <!--Detalle:acá me trae una noticia, en la que el usuario registrado o admin  puede eliminar o editar-->
		
  
 {% if noticia ==  noticia.usuario %}
 <a href="{% url 'noticias:editar' noticia.pk %}">Editar</a>
 <a href="{% url 'noticias:eliminar' noticia.pk %}">Eliminar</a>
{% endif %}
<br>

		<br><br>
		<br>
<!--acá el usuario registrado puede comentar la noticia-->
		<form method="POST" action="{% url 'noticias:comentar' noticia.id %}">{% csrf_token %}
			<textarea name="comentario" maxlength="1500"> </textarea>
			<input type="text" name="id_noticia" value="{{noticia.pk}}" hidden=""> 
			<input type="submit" value="GUARDAR">
		</form>
 <!--acá veo los comentarios al que el usuario que los efectuó puede borrarlos-->
		<br><br><br>
		<h3>COMENTARIOS</h3>
		 {{comentario.titulo}
		{% for com in comentarios %}
		{% if user == com.usuario %}
			<a href=""><button  type="submit">eliminar </button> </a>
		{% endif %}
		<strong>FECHA:{{com.fecha_publicación}}</strong><br>
		<strong>USUARIO:{{com.usuario}}</strong><br>
		<p>{{com.texto}}</p>
		{% endfor %}



		<a href="{% url 'noticias:listar' %}">VOLVER</a>

	
{% endblock %}


	

