{% extends 'base.html' %}

{% block contenido %}
    <h2>Usted desea editar la noticia: {{noticia.titulo}}?</h2>

   
    <form method="post" action="{% url 'noticias:editar_noticia' noticia.id %}" enctype="multipart/form-data">
        {% csrf_token %}
        <p>Editar</p>
        {{form.as_p}} 

        <button type="submit" action="{% url 'noticias:detalle' noticia.id %}" >si, Guardar </button>
    

    
        <a href="{% url 'noticias:listar' %}">no, volver</a>
    </form>

  
{% endblock %}