{% extends 'base.html' %}
{% load static %}

{% block titulo %}NOTICIAS{% endblock titulo %}


{% block contenido %}

	<form class="form" method="GET">
		<div class="seccion_descripcion">
			<!-- Filtro por categoría -->
			<label class="presentacion__parrafo" for="categoria">Filtrar Noticia:</label>
			<select class="presentacion__parrafo" name="categoria" id="categoria">
				<option value="">Todas las categorías</option>
				{% for categoria in categorias %}
					<option value="{{ categoria.id }}" {% if request.GET.categoria == categoria.id|stringformat:"s" %}selected{% endif %}>
						{{ categoria.nombre }}
					</option>
				{% endfor %}
			</select>

			<!-- Filtro por fecha -->
			<select class="presentacion__parrafo" name="fecha">
				<option value="">Ordenar por antiguedad</option>
				<option value="asc">Más antiguas primero</option>
				<option value="desc">Más recientes primero</option>
			</select>
			

			<!-- Filtro por Titulo -->
			<select class="presentacion__parrafo" name="titulo">
				<option value="">Ordenar por título</option>
				<option value="asc">A-Z</option>
				<option value="desc">Z-A</option>
			</select>

			<button class="boton" type="submit">Filtrar</button>

			<!--Crear nueva noticia-->
			{% if request.user.is_authenticated or request.user.is_staff %}
			<div class="">
				<a class="boton" href="{% url 'noticias:crear' %}">Crear Noticia</a>
			</div>
			{% endif %}
		</div>	
	</form>

	

	<div class="contenedor_tarjetas_grid">
		{% for noti in noticias %}
		<article class="tarjeta">
			
			<section class="seccion_descripcion">
				<div class="seccion_descripcion__info scroll scroll_fino scroll_gris">
					<img class="tarjeta__imagen" src="{{noti.imagen.url}}" width="100" height="100">
					<p class="seccion_descripcion__titulo"><a href="{% url 'noticias:detalle' noti.pk %}">TITULO: {{noti.titulo}}</a></p>
					<span class="tarjeta__divisor"></span>
					<p class="seccion_descripcion__parrafo" >FECHA: {{noti.fecha}}</p>
					<p class="seccion_descripcion__parrafo">CATEGORIA: {{noti.categoria_noticia}}</p>
					<p class="seccion_descripcion__parrafo">AUTOR: {{noti.autor}}</p>
					<p class="seccion_descripcion__parrafo">CUERPO: {{noti.cuerpo}}</p>
					<a class="boton"  href="{% url 'noticias:detalle' noti.pk %}">ver</a>
					<br>
					<br>
				</div>
			</section>
		
		</article>
		{% empty %}
			<li>No se encontraron noticias.</li>
		{% endfor %}
	</div>

{% endblock contenido %}

