{% extends 'base.html' %}
{% load static %}

{% block title %}LISTA DE NOTICIAS{% endblock title %}


{% block contenido %}

<form action="" method="post">{% csrf_token %}  

	<div class="submenu">

		<a
	href="{% url 'noticias:listar' %}"
	class="badge bg-primary">ARTÍCULOS</a>
		{% for cat in categorias %}
			<a href="?id={{cat.pk}}"> {{cat.nombre}} </a>
		{% endfor %}



	</div>
</form>
	<h1>NOTICIAS</h1>
      {{noticia.pk}}
	{% for noticia in noticias %}
	
		<img src="{{noticia.imagen.url}}"  width="auto" height="auto"/>
		
		<p><a href="?id={{noticia.pk}}">TITULO: {{noticia.titulo}}</a></p>

		<p>FECHA: {{noticia.fecha_publicación}}</p>
		<p>CATEGORIA: {{noticia.categoria_noticia}}</p>
		<p>CUERPO: {{noticia.cuerpo}}</p>

	

		
		<br><br>

<a href="{% url 'noticias:agregar' %}"><button  type="submit">Agregar </button> </a>

<a href="{% url 'noticias:editar' noticia.pk %}"><button  type="submit"> Editar </button> </a>

<a href="{% url 'noticias:eliminar' noticia.pk %}"><button  type="submit"> Eliminar </button> </a>



{% endfor %}

{% endblock contenido %}
