

{% extends 'base.html' %}
{% load static %}

{% block title %}LOGIN {% endblock %}
<main>
	<section >
  
{% block contenido %}
{% if form.errors %}
<p>El nombre del usuario o la contraseña están incorrectos</p>
{%else%}
<p class="inicio ">Por favor,  complete el formulario para iniciar sesión: </p> <br>
{% endif %}

			<form class="inicio" action="{% url 'login' %}" method="POST"> {% csrf_token %}
				<!--{{form.errors}}
				<h2>Login</h2>
				<input type="text" name="username" placeholder="USUARIO"> <br><br>
				<input type="password" name="password" placeholder="PASSWORD">

				<input type="submit" name="" value="ENVIAR">-->
				{{form.as_p}}
				<input type="hidden" name="next" , value= "{{next}}">
				<button type="submit">Iniciar sesión</button> <br><br>
				<p>Para habilitar una cuenta: <a href="{% url 'usuarios:registro' %}"> Regístrate:</a></p>
 </form>
				{% endblock %}
  </section>
		</main>

		