{% extends 'base.html' %}
{% load static %}

{% block title %} INICIO {% endblock title %}



{% block contenido %}
<main>
	<section class="nosotros">
   <div  class="presentación_blog">
	<h1>NUESTRO BLOG: La revolución del mundo actual  </h1>
		 <h2>"La inteligencia artificial"</h2>
		 <h3>
		<p>En nuestro Blog abordamos cómo la Inteligencia Artificial (IA) a través de las innovaciones <br>
			tecnológicas nos están cambiando las formas de vivir en la actualidad. </p>
			<p>Podemos darnos cuenta  del surgimiento de nuevas formas <br>
			de comunicarnos, estudiar y trabajar. </p>
			<p>Te proponemos  interiorizarte de esta realidad<br>
			 que cada día nos sorprende más y más.</p>
		    <p>Es importante estar informado y reflexionar <br>
			 sobre sus implicaciones para prepararnos <br>
			 para el futuro.</p>
		 </h3>
			  
		</div>
	</section>
		</main>

	{% endblock contenido %}
	
	
