{% extends 'base.html' %}
{% load static %}

{% block title %} INICIO {% endblock title %}



{% block contenido %}
<main>
	<section class="nosotros">
   <div  class="presentación_blog">
	<h1>NUESTRO BLOG: La revolución del mundo actual  </h1>
		 <h2>"La inteligencia artificial"</h2>
		 <h3>En nuestro Blog abordamos cómo la IA a través
			de las innovaciones tecnológicas nos están cambiando <br>
			las formas de vivir en la actualidad. Podemos
		    darnos cuenta  del surgimiento de nuevas formas de comunicarnos, <br>
			estudiar y trabajar. Nuestro blog te permitirá interiorizarte
			de esta realidad que cada día nos sorprende más y más.
		
		 </h3>
			  
		</div>
	</section>
		</main>

	{% endblock contenido %}
	
	
