{% extends 'base.html' %}
{% load static %}

{% block titulo %}NOSOTROS{% endblock titulo %}


{% block contenido %}
<main>
	<section  class="nosotros" >
	<h2>Sobre NOSOTROS</h2>
	
	<h3>¡Bienvenido a nuestro blog!</h3>
	<h4>
		<p>Somos un grupo de estudiantes de
		Diseño Web del INFORMATORIO que interactuamos
		para diseñar nuestro blog en lenguaje de programación 
		python abordando como temática la inteligencia artificial. </p>
		<p>Para nosotros es  un tema inquietante
		que nos interpela en nuestras maneras de vincularnos 
		y comunicarnos, esto trae aparejado redefiniciones en las
		formas de trabajos.</p>
		<p>Por lo tanto nos parece oportuno invitarte
		a acompañarnos en este desafío de interiorizarnos
		de qué se trata la inteligencia artificial y cómo impacta
		en diferentes ámbitos de nuestras vidas. 
		</p> 
	</h4>
</section>
</main>
{% endblock contenido %}

