{% extends 'base.html' %}
{% load static %}

{% block titulo %}NOSOTROS{% endblock titulo %}


{% block contenido %}
	<main class="principal">
		<section class="presentacion">
			<div class="presentacion__contenedor_info">
				<h1 class="presentacion__titulo">Sobre NOSOTROS</h1>		
				<h3 class="seccion_descripcion__titulo">¡Bienvenido a nuestro blog!</h3>
				
				<div class="seccion_descripcion__info scroll scroll_fino scroll_gris">
					<p class="seccion_descripcion__parrafo1">Somos un grupo de estudiantes de
					Diseño Web del INFORMATORIO que interactuamos
					para diseñar nuestro blog en lenguaje de programación 
					python abordando como temática la inteligencia artificial. </p>
					<p class="seccion_descripcion__parrafo1">Para nosotros es  un tema inquietante
					que nos interpela en nuestras maneras de vincularnos 
					y comunicarnos, esto trae aparejado redefiniciones en las
					formas de trabajos.</p>
					<p class="seccion_descripcion__parrafo1">Por lo tanto nos parece oportuno invitarte
					a acompañarnos en este desafío de interiorizarnos
					de qué se trata la inteligencia artificial y cómo impacta
					en diferentes ámbitos de nuestras vidas. 
					</p class="seccion_descripcion__parrafo1"> 
				</div>
			</div>	
		</section>
	</main>
{% endblock contenido %}

